[Desktop Entry]
Version=1.0
Type=Application
Name=Chili iso2usb
GenericName=Chili Iso2usb Util
Comment=Utilitario para gravar iso no pendrive
Exec=sudo /opt/chili-iso2usb/chili-iso2usb %F
Terminal=false
MimeType=text/plain;
Icon=/opt/chili-iso2usb/pendrive.png
Categories=Utility;Accessories;
StartupNotify=true
Actions=Window;Document;
