[Desktop Entry]
Version=1.0
Type=Application
Name=Chili clonedisk
GenericName=Chili Clonedisk Util
Comment=Utilitario para clonar discos
Exec=sudo /usr/sbin/chili-clonedisk %F
Terminal=true
MimeType=text/plain;
Icon=drive-multidisk
Categories=Utility;Accessories;
StartupNotify=true
Actions=Window;Document;
